# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/en/latest/topics/scrapyd.html

[settings]
default = Eagle.settings

[deploy:scrapyd]
url = http://115.29.8.74:6800/
project = Eagle
version = GIT
